<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
  <connectionStrings>
    <add name="BKI_QLDTEntities" connectionString="metadata=res://*/QuanLyDuToan.csdl|res://*/QuanLyDuToan.ssdl|res://*/QuanLyDuToan.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=TUDM-PC\SQLEXPRESS;initial catalog=BKI_QLDT;persist security info=True;user id=sa;password=sa;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
</configuration>